* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/** Colours */
:root {
  --border-yellow: #d9b804;
  --red: #D45136;
  --charmander-red: #E5C0A9;
  --bulbasaur-green: #97C551;
  --squirtle-blue: #6fadc1;
}

/** Global Styles */
.type-icon {
  max-width: 24px;
}

h1 {
  line-height: 1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-top: 1rem;
}

/** Card Specific Styles */
.card {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 16px solid var(--border-yellow);
  border-radius: 20px;
  padding: 8px 16px;
}

.card.charmander {
  background-color: var(--charmander-red);
}

.card.bulbasaur {
  background-color: var(--bulbasaur-green);
}

.card.squirtle {
  background-color: var(--squirtle-blue);
}

header {
  width: 100%;
  font-weight: 600;
}

header p {
  margin-bottom: -10px;
  font-size: 12px;
}

.header {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header .health {
  color: var(--red);
  font-size: 20px;
  font-weight: bold;
}

.header .power {
  display: flex;
  gap: 10px;
}

.ribbon {
  background-color: var(--border-yellow);
  margin-top: 6px;
  font-size: 12px;
  padding: 2px 20px;
}

.hero-img {
  border: 10px solid var(--border-yellow);
  width: 340px;
}

.attack {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.attack-description {
  text-align: left;
  line-height: 0.75;
}

.attack-description span {
  font-weight: 100;
  font-size: 12px;
}

.attack-description .type-icon {
  width: 10px;
}

.traits {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.trait {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.bio {
  padding: 6px;
  margin-top: 8px;
  border: 1px solid var(--border-yellow);
  font-style: italic;
  font-size: 13px;
}